.color-primary {
    color: blueviolet;
}
.fornt-50 {
    font-size: 50px;
}

.select-style1 {
    height: 40px;
    font-size: 20px;
    color: blue;
}
 
.tb-head>tr>td {
border: 1px solid #000;
font-size: 14px;
font-weight: bold;
color: red;
}

.tb-body>tr> td {
    border: 1px solid #000;
}

.tb td {
    border: 1px solid #000;
}


/* p{
 background: yellowgreen;
 color: darkgreen;   
} */

.class1 { 
    /* background: red; */
    color: darkgreen;
}

 #p1 {
    background: yellowgreen;
    color: darkgreen;   
}
